@tailwind base;
@tailwind components;
@tailwind utilities;

/* body::-webkit-scrollbar {
  width: 1em;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
 
body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
} */

.n-container {
  @apply m-auto w-[95%] sm:w-[95%];
}

/* .bg-primary {
  background-color: #263240;
}

.bg-secondary {
  background-color: #1f2630;
}

.bg-third {
  background-color: #171e26;
} */

.text-subTitle {
  @apply font-bold text-center text-3xl text-black dark:text-white;
}

.invert_item {
  @apply invert dark:invert-0;
}

.authBg {
  @apply w-full bg-[length:100%_100%];
  background-image: url("./assets/images/auth_bg.png");
}
.netBg {
  @apply w-full bg-right bg-no-repeat bg-Net dark:bg-DarkNet;
}

.list-token-input-div {
  @apply bg-gradient-to-r from-[#575A70]/20 to-[#575A70]/20 w-full rounded-md mt-2;
}

.grayGradientBg1 {
  @apply bg-[#F6F6F6] dark:bg-gradient-to-tr from-[#1D1E26] to-[#1C1D25];
}

.itemBg1 {
  @apply bg-[#E9E9E9] dark:bg-[#2A2C36];
}
.itemBg2 {
  @apply bg-[#EDEDED] dark:bg-[#121318];
}
.itemBg3 {
  @apply bg-white dark:bg-[#21232C];
}
.itemBg4 {
  @apply bg-[#F1F3F5] dark:bg-[#121318];
}
.itemBg5 {
  @apply bg-[#F2F2F2] dark:bg-[#121318];
}
.itemBg6 {
  @apply bg-white dark:bg-[#121318];
}
.itemBg7 {
  @apply bg-[#F2F2F2] dark:bg-[#21232C];
}
.itemBg8 {
  @apply bg-[#1B1C23]/5 dark:bg-[#1B1C23]/70;
}

.text1 {
  @apply text-black dark:text-[#C2C2C2];
}

.list-token-input {
  @apply bg-transparent outline-0 px-3 py-2 text-white w-full;
}

.TredingTokenBG {
  @apply bg-[length:100%_100%] w-full lg:bg-Vector80 lg:dark:bg-DarkVector80;
  /* background-image: url("./assets/images/Vector80.png"); */
}

.NewTokenBG {
  @apply bg-[length:100%_100%] w-full lg:bg-Vector81 lg:dark:bg-DarkVector81;
}

.authMask {
  background: linear-gradient(
    360deg,
    #d38e4c -2.27%,
    rgba(26, 27, 35, 0) 116.8%
  );
  opacity: 0.35;
}

.hiddenArrow {
  @apply hidden;
}
.slick-arrow {
  display: none !important;
}

/* SCROLL BUTTON CSS */

.back-to-top {
  @apply bg-gradient-to-r from-[#5B46DF] to-[#BA4DF9] shadow shadow-white/50 dark:shadow-black/50;
  position: fixed;
  bottom: 20px;
  right: 20px;
  font-size: 35px;
  padding: 10px;
  color: white;
  cursor: pointer;
  border-radius: 40px;
  border: none;
}

.back-to-top:hover {
  @apply bg-gradient-to-r from-[#5B46DF] to-[#BA4DF9];
}

/* Hide scrollbar for Chrome, Safari and Opera */
.infoScroller::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.infoScroller {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* SCROLL BUTTON CSS */

coingecko-coin-heatmap-widget .cg-bold {
  display: none !important;
}
